html,
body {
    height: 100vh;
    font-family: 'HelveticaNeue', Helvetica, Arial;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.graph-control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

#demo-graph-paper {
    height: 400px;
}

#demo-graph-paper #GraphControlDemo {
    flex: 1;
    height: fit-content;
}

.control-box {
    margin: 4rem 0;
}

.control-box ul {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

.control-box li {
    list-style: none;
}

.control-box input {
    margin: 1rem 0;
}

.control-box label {
    font-size: 1rem;
    font-weight: 600;
}